## DATA EXPLORATION ANALYSIS

### 1) Data overview 

### 2) KPI metrics 

### 3) Insights 
    - Trend
    - Issue of data

In [17]:
import pandas as pd 
from sqlalchemy import create_engine

engine = create_engine('sqlite:///data/wargame.db', echo=False)
sql = "select * from session;"
df_session = pd.read_sql(sql, engine)

In [18]:
len(df_session)

16375

In [11]:
df_session.head(1)

,index,client_version,event_name,event_timestamp,is_premium,login_attempt_id,platform,player_name,server_version,session_id,user_device_country,user_id,user_ip,user_is_spender,user_server_region,user_type
0,0,1.3.0,session_started,2018-03-01 07:10:48.499895,0,89c571bd-16de-4785-a051-f10aa27d54fa,IOS_MOBILE,luskfmpg,0.1.220,82e80eb5-42cd-4ed7-92c7-6e280f7bbcf1,US,85dff3d5-6f56-4601-9a24-400624f9a024,253.122.152.86,0,US,PLAYER

In [21]:
df_session.user_device_country.value_counts()

US    16375
Name: user_device_country, dtype: int64

In [20]:
df_session.event_name.value_counts()

session_started    16375
Name: event_name, dtype: int64

In [19]:
df_session.user_type.value_counts()

PLAYER    16375
Name: user_type, dtype: int64

In [14]:
df_session.event_timestamp

0     2018-03-01 07:10:48.499895
1     2018-05-01 13:58:47.838814
2            2018-09-29 22:42:47
3     2018-07-05 01:45:05.074643
4     2018-08-20 16:41:35.010536
                 ...
95    2018-10-26 15:58:45.859395
96    2018-01-25 19:19:44.962230
97           2018-07-15 22:42:46
98           2018-11-29 01:04:09
99    2018-08-02 02:45:25.792942
Name: event_timestamp, Length: 100, dtype: object