In [54]:
# ref : http://api.mongodb.com/python/current/tutorial.html
# ref : http://blog.mycodesite.com/mongodb-basics-and-tips/

In [20]:
import pymongo
from pymongo import MongoClient

import datetime as dt   
import time
import csv
import requests
import pandas as pd, numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [21]:
client = MongoClient('localhost', 27017)

# show databases

In [47]:
client.database_names()

['local', 'mydb', 'test']

# use database :  "test"

In [23]:
db = client.test

# show table names under DB "test"

In [39]:
db.collection_names()

['resdb.users',
 'example',
 'system.profile',
 'users',
 'collection',
 'db.users',
 'restaurants']

 # use table (collection) : "example"

In [25]:
collection = db.example

#  query  data in table "example"

In [26]:
collection.find_one()

{'_id': ObjectId('57e7a94a271ea33cb73358a4'),
 'colorsArray': [{'colorName': 'red', 'hexValue': '#f00'},
  {'colorName': 'green', 'hexValue': '#0f0'},
  {'colorName': 'blue', 'hexValue': '#00f'},
  {'colorName': 'cyan', 'hexValue': '#0ff'},
  {'colorName': 'magenta', 'hexValue': '#f0f'},
  {'colorName': 'yellow', 'hexValue': '#ff0'},
  {'colorName': 'black', 'hexValue': '#000'}]}

In [45]:
#collection.find_one().count()

In [28]:
db['restaurants'].find_one()

{'_id': ObjectId('57e4da87f20b39098fe80f7e'),
 'address': {'building': '1480',
  'coord': [-73.9557413, 40.7720266],
  'street': '2 Avenue',
  'zipcode': '10075'},
 'borough': 'Manhattan',
 'cuisine': 'Italian',
 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0),
   'grade': 'A',
   'score': 11.0},
  {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'B', 'score': 17.0}],
 'name': 'Vella',
 'restaurant_id': '41704620'}

In [68]:
for item in db['restaurants'].find().limit(0):
    print (item)

{'cuisine': 'Italian', 'restaurant_id': '41704620', '_id': ObjectId('57e4da87f20b39098fe80f7e'), 'name': 'Vella', 'address': {'building': '1480', 'street': '2 Avenue', 'zipcode': '10075', 'coord': [-73.9557413, 40.7720266]}, 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0), 'grade': 'A', 'score': 11.0}, {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'B', 'score': 17.0}], 'borough': 'Manhattan'}
{'date': datetime.datetime(2016, 9, 25, 10, 17, 10, 461000), 'volume': 2980000, '_id': 1.0}

In [34]:
db['restaurants'].find_one({'name': 'Vella'})

{'_id': ObjectId('57e4da87f20b39098fe80f7e'),
 'address': {'building': '1480',
  'coord': [-73.9557413, 40.7720266],
  'street': '2 Avenue',
  'zipcode': '10075'},
 'borough': 'Manhattan',
 'cuisine': 'Italian',
 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0),
   'grade': 'A',
   'score': 11.0},
  {'date': datetime.datetime(2014, 1, 16, 0, 0), 'grade': 'B', 'score': 17.0}],
 'name': 'Vella',
 'restaurant_id': '41704620'}

# create Database

# create table (collection)

In [40]:
db.create_collection('test1')

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'test1')

In [43]:
db.collection_names()

['resdb.users',
 'example',
 'test1',
 'system.profile',
 'users',
 'collection',
 'db.users',
 'restaurants']

# insert data into table

In [55]:
book = {}  
book["_id"] = "978-3-16-148410-0"  #The unique key  
book["title"] = "MongoDB book"  
book["year"] = 2014  
book["authors"] = ["Author 1", "Author 2"]  
book["sells"] = 0

In [56]:
book

{'_id': '978-3-16-148410-0',
 'authors': ['Author 1', 'Author 2'],
 'sells': 0,
 'title': 'MongoDB book',
 'year': 2014}

In [60]:
db.test1.insert(book)

/Users/GGV/anaconda/envs/GGV_DASH/lib/python3.4/site-packages/ipykernel/__main__.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  if __name__ == '__main__':

'978-3-16-148410-0'

In [61]:
db.test1.find_one()

{'_id': '978-3-16-148410-0',
 'authors': ['Author 1', 'Author 2'],
 'sells': 0,
 'title': 'MongoDB book',
 'year': 2014}