In [10]:
# load basics library 

import pandas as pd, numpy as np

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

### 1)  unique buy user

In [3]:
sql_1 ="""

select count(distinct transaction.user_id)
from transaction
left join location
on transaction.user_id = location.user_id
where transaction.deal_id = '12345'
and location.city = 'London'

"""

### 2) more profitable deal

In [6]:
print ('avg deal a : ', 12*1000/(30*80*1000))
print ('avg deal b :', 20*1000/(180*120*1000))

avg deal a :  0.005
avg deal b : 0.000925925925925926

In [45]:
print ('avg deal a : ', 12*1000/(30))
print ('avg deal b :', 20*1000/(180))

avg deal a :  400.0
avg deal b : 111.11111111111111

In [53]:
print ('a is more profitable')

a is more profitable

### 3)  which employees are supervised by whom

In [11]:
df_employee = pd.DataFrame({'employee_id':[301,208,134],
                            'employee_name': ['Oliver','Dianne','Paul'],
                           'supervisor_employee_id':[134,101,884]})

In [42]:
#df_employee

In [51]:

sql_4_ ="""

SELECT
    a.employee_name as supervisor_employee,
    b.employee_name as employee
FROM
    df_employee AS a,
    df_employee AS b
WHERE
    a.employee_id = b.supervisor_employee_id
      
"""

In [46]:
df_employee

   employee_id employee_name  supervisor_employee_id
0          301        Oliver                     134
1          208        Dianne                     101
2          134          Paul                     884

In [50]:
pysqldf(sql_4_)

  supervisor_employee employee
0                Paul   Oliver

### 4) difference in FULL OUTER JOIN and RIGHT JOIN

In [52]:
full_outer_join = """

SELECT <select_list>
FROM Table_A A
FULL OUTER JOIN Table_B B
ON A.Key = B.Key

"""

right_join = """

SELECT <select_list>
FROM Table_A A
RIGHT JOIN Table_B B
ON A.Key = B.Key


"""

- Full outer join :  

    - Return all of the records from both tables (A,B)
- Right join :

    - Return return all of the records in the left table (table A) that have a matching record in the right table (table B)

### 5) create table

- INDEX1 : 101 - INTEGER
- Since 
    -  Much effiencit 
    -  cost less memory 
    -  can change to bigint is large row counts

### 6)

The dashboard is an overview of operation numbers with sales metrics 
for monitor business and have a high-level sense of current status

There are 2 main part of this dashboard:

    - Filter : Left part of the view, can limit data with specific 
             fields: country, category... single or multiple choises 
    - Metrics : 
        - Scatter plot : Unit sales amount VS unit price 
        - Time serices plot :  metrices amount in time serices form
        - Demand Curve : know the tendency of general demands VS supply
        - elastic estimate : sales amount over different product groups

### 7)

I'll take following steps break this business problem:

##### Step 1 : 
##### Develop Hypothese : What're possible reasons cause revenue fell ?


- Outside :
   - Global/Regional economic -> compare revenue in other/nearby market 
   - Business Cycle-> compare market revenue of same period in last few years
   - Competitions -> check other main players' business in the same market 
   - Users -> check if number of active user is in dramatic change
- Inside:
   - Product update -> check if product(web/app) had issues in the period
   - Campaign -> check if therE was campaign, polycies affect users
   - Data -> check data quality, review data in various ways. i.e. : check average sales price, number of buy/pay, pay rate.. to know if the raw data make sense 
   - User -> check the pay user group, the product they bought, to know if 
       there were abnormal change in the period 
   

##### Step 2 : 
##### Step by step verify the hypothese, revise the hypothese, and  better understand the substance of problem

### 8)

- Using 2 metrics :  
    - buying amount (counts) 
    - buying types 
- Sample merchants maybe can be segemented as  : 
    1. Big firms 
    2. SMBs (small and medium business)
    3. Individual
    4. Government
    5. Others